<div class="affiliateproduct" style="clear: both;"<%
        if (typeof anchorName !== 'undefined') { %> id="<%= anchorName %>"<% }
    %>>
    <% if (typeof productimgurl !== 'undefined') { %>
        <card-block additional-classes="float-right"
            style="width: 150px;"
            card-image-top="<%= productimgurl %>"
            card-image-alt="<%= productname %>"
            card-image-style="width: 100%;">
        
            <button-launched-modal id="<%= anchorName %>-modal-button"
                title="<%= productname %>"
                button-text="View larger image"
                additional-classes="modal-dialog-centered btn-small">
            <img src="<%= productimgurl %>" alt="<%= productname %>"/>
            </button-launched-modal>
        </card-block>
    <% } %>
    <div class="productdescription">
        <h2 class="infobox-title">
            <% if (typeof productbuyurl !== 'undefined') { %>
                <a class="affproductname" href="<%= productbuyurl %>" <%
                    if (typeof productrel !== 'undefined') { %> rel="<%= productrel %>" <% } %>>
                    <%= productname %></a>
            <% } else { %>
                <%= productname %>
            <% } %>
        </h2>
        <% if (typeof productdescription !== 'undefined' && productdescription) { %><%- productdescription %><% } %>
        <% if (partialBody) { %><%- partialBody %><% } %>
    </div>

    <%

    if (typeof productattributes !== 'undefined') {
        %><ul><%
        for (var productattr of productattributes) {
            %><li><%= productattr %></li><%
        }
        %></ul><%
    }

    if (typeof productamzn !== 'undefined' && productamzn) {
        for (var amzn of productamzn) {
            if (typeof amzn !== 'undefined' && typeof amzn.asin !== 'undefined') {
                if (amzn.countryCode === "ca") {
                    %><amazon-ca-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "co-jp") {
                    %><amazon-co-jp-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "co-uk") {
                    %><amazon-co-uk-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "com") {
                    %><amazon-com-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "de") {
                    %><amazon-de-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "es") {
                    %><amazon-es-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "fr") {
                    %><amazon-fr-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "it") {
                    %><amazon-it-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                }
            }
        }
    }

    if (typeof productlinks !== 'undefined') {
        %><span><%
            for (var link of productlinks) {
                %>[<a href="<%= link.url %>" rel="<%= link.rel %>"><%= link.text %></a>] <%
            }
        %></span><%
    }

    %>

    <div class="affiliate-product-sponsored">Sponsored</div>

</div>
