<span class="link-to-external-card" style="float: <%= float %>; width: <%= width %>; height: <%= height %>; padding: 2px; margin: 2px;">
    <figure>
        <a href="<%- href %>">
            <img src="<%- thumburl %>" alt="<%= title %>" title="<%= title %>" style="<%= style %>">
        </a>
    </figure>
</span>