<div class="affiliateproduct" style="clear: both;"<%
        if (typeof anchorName !== 'undefined') { %> id="<%= anchorName %>"<% }
    %>>
    <% if (typeof productimgurl !== 'undefined') { %>
    <img class="affiliateimage" src="<%= productimgurl %>" 
            width="150px" align="right"
            onmouseover='$("#<%= anchorName %>-modal").modal("show")'/>

    <div id="<%= anchorName %>-modal" class="modal" tabindex="-1" role="dialog"
            aria-labelledby="<%= anchorName %>-modal-title"
            aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 id="<%= anchorName %>-modal-title" 
                        class="modal-title"><%= productname %></h5>
                <button type="button" class="close" 
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href="<%= productbuyurl %>" <%
                    if (typeof productrel !== 'undefined') {
                            %> rel="<%= productrel %>" <% 
                    } %> >
                <img src="<%= productimgurl %>" width="100%"/>
                </a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"     
                        data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="productdescription">
        <h2 class="infobox-title">
            <% if (typeof productbuyurl !== 'undefined') { %>
                <a class="affproductname" href="<%= productbuyurl %>" <%
                    if (typeof productrel !== 'undefined') { %> rel="<%= productrel %>" <% } %>>
                    <%= productname %></a>
            <% } else { %>
                <%= productname %>
            <% } %>
        </h2>
        <% if (typeof productdescription !== 'undefined' && productdescription) { %><%- productdescription %><% } %>
        <% if (partialBody) { %><%- partialBody %><% } %>
    </div>

    <%

    if (typeof productattributes !== 'undefined') {
        %><ul><%
        for (var productattr of productattributes) {
            %><li><%= productattr %></li><%
        }
        %></ul><%
    }

    if (typeof productamzn !== 'undefined' && productamzn) {
        for (var amzn of productamzn) {
            if (typeof amzn !== 'undefined' && typeof amzn.asin !== 'undefined') {
                if (amzn.countryCode === "ca") {
                    %><amazon-ca-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "co-jp") {
                    %><amazon-co-jp-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "co-uk") {
                    %><amazon-co-uk-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "com") {
                    %><amazon-com-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "de") {
                    %><amazon-de-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "es") {
                    %><amazon-es-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "fr") {
                    %><amazon-fr-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                } else if (amzn.countryCode === "it") {
                    %><amazon-it-buy affcode="<%= amzn.affcode %>" asin="<%= amzn.asin %>"/><%
                }
            }
        }
    }

    if (typeof productlinks !== 'undefined') {
        %><span><%
            for (var link of productlinks) {
                %>[<a href="<%= link.url %>" rel="<%= link.rel %>"><%= link.text %></a>] <%
            }
        %></span><%
    }

    %>

    <div class="affiliate-product-sponsored">Sponsored</div>

</div>
