<form method="POST" action="https://www.amazon.it/exec/obidos/dt/assoc/handle-buy-box=<%= ASIN %>"<%- targetBlank %><%- formDisplay %>>
<input type="hidden" name="asin.$<%= ASIN %>" value="1">
<input type="hidden" name="tag-value" value="<%= affcode %>">
<input type="hidden" name="tag_value" value="<%= affcode %>">
<input type="image" name="submit.add-to-cart" value="Compra su Amazon.it" border="0" alt="Compra su Amazon.it" src="https://images.amazon.com/images/G/29/associates/buttons/buy5.gif">
</form>
